body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: sans-serif, "Roboto";
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #4B0082;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #4B0082;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}

#main {
  padding: 20px 20px 0px 20px;
}

#pageBackground {
  width: 98%;
  -moz-box-shadow: 0 0 40px #232323;
  -webkit-box-shadow: 0 0 40px #232323;
  box-shadow: 0 0 40px #232323;
}

.pageMargins {
  margin: 20px;
}

.lastPageMargins {
  margin: 20px 20px 0px 20px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.aqua {
  background-color: #99FFFF;
}

.aqua-text {
  color: #99FFFF;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #777777;
  padding-bottom: 10px;
  clear:both;
}

.white {
  background-color: #FFFFFF;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #1a1a1a;
}

.contactsBar {
  position: fixed;
  width: 100%;
  z-index: 2;
}

#header {
  float: left;
  display: inline-block;
}

#skills-h3 {
  display: none;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.skills-flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

#skillsBox {
  float: right;
  display: inline-block;
  margin: 30px;
  background-color: #999999;
  text-align: center;
  -moz-box-shadow: 0 0 40px #232323;
  -webkit-box-shadow: 0 0 40px #232323;
  box-shadow: 0 0 40px #232323;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
  margin-right: 30px;
  margin-top: 30px;
  -moz-box-shadow: 0 0 40px #232323;
  -webkit-box-shadow: 0 0 40px #232323;
  box-shadow: 0 0 40px #232323;
}

img {
  padding: 10px;
  border-style: groove;
  border-color: #999;
}

span {
  padding: 5px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

/* to add thought bubble to welcome msg. adapted from:
http://nicolasgallagher.com/pure-css-speech-bubbles/ */
.oval-thought {
  position:relative;
  display: inline-block;
  width:auto;
  padding:30px 20px;
  margin:1em auto 80px;
  text-align:center;
  font-weight: bold;
  font-size: 18px;
  color:#fff;
  background: #99FFFF;
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#99FFFF));
  background:-moz-linear-gradient(#2e88c4, #99FFFF);
  background:-o-linear-gradient(#2e88c4, #99FFFF);
  background:linear-gradient(#2e88c4, #99FFFF);
  /*
  NOTES:
  -webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
  -webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
  Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
  */
  -webkit-border-top-left-radius:220px 120px;
  -webkit-border-top-right-radius:220px 120px;
  -webkit-border-bottom-right-radius:220px 120px;
  -webkit-border-bottom-left-radius:220px 120px;
  -moz-border-radius:220px / 120px;
  border-radius:220px / 120px;
}

.oval-thought p {font-size:1.25em;}

/* creates the larger circle */
.oval-thought:before {
  content:"";
  position:absolute;
  bottom:-20px;
  left:50px;
  width:30px;
  height:30px;
  background:#99FFFF;
  /* css3 */
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}

/* creates the smaller circle */
.oval-thought:after {
  content:"";
  position:absolute;
  bottom:-30px;
  left:30px;
  width:15px;
  height:15px;
  background:#99FFFF;
  /* css3 */
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
}

/*style for fill in the blanks map*/
path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.background {
  fill: none;
  stroke: #ddd;
}

.foreground {
  fill: none;
  pointer-events: all;
}
